<div class="col-lg awards-section">
    <ul style="list-style: none; padding: 0; margin: 0;">
        {% for award in include.source %}
        <li style="margin-bottom: 1.5rem; padding-left: 0.4rem; position: relative;">
            <h5 style="margin: 0; font-weight: bold;">{{ award.name }}</h5>
            <p class="award-meta" style="margin: 0.3rem 0; font-size: 0.9em; color: #707070;">
                {{ award.date }} | {{ award.location }}
            </p>
            <p class="award-description" style="margin-top: 0.5rem; color: #333;">
                {{ award.description }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>