<div class="col-lg">
  <div>
    {% for category in include.source %}
    <div style="display: flex; align-items: baseline; margin-bottom: 1rem;">
      <!-- Skill Set Name -->
      <h5 style="margin: 0; flex: 1; color: #333;">{{ category[0] }}</h5>
      <!-- Skills -->
      <div style="flex: 3;">
        {% for skill in category[1] %}
        <span style="
              font-size: 1.0em;
              color: #707070;">
          {{ skill }}{% if forloop.last == false %}, {% endif %}
        </span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>